@import url(__container/popup__container.css);
@import url(__form/popup__form.css);
@import url(__title/popup__title.css);
@import url(__fields/popup__fields.css);
@import url(__label/popup__label.css);
@import url(__input/popup__input.css);
@import url(__button/popup__button.css);
@import url(__button-close/popup__button-close.css);
@import url(__popup__input-add/popup__input-add.css);
@import url("__error/popup__error_visible.css");

.popup{
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}