.profile__edit-button{
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-color: transparent;
    transition: .2s linear;
      
    background: url(../../../images/profile/Edit%20Button.svg) center no-repeat;
    margin: 32px 0 0 17px;
}

.profile__edit-button:hover{
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width:575px){
    .profile__edit-button{
        margin: 25px 0 0 0;
        
    }
}

