.popup__input{
    border: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
    font-size: 14px;
    padding-bottom: 13px;
}

::-webkit-input-placeholder { /* WebKit browsers */
   color: #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #000;
}