@import url(__container/popup-img__container.css);
@import url(__photo/popup-img__photo.css);
@import url(__title/popup-img__title.css);

.popup-img{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, .7);
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear; 
}