@import url(__content/elements__content.css);


.elements{
    margin: 50px auto 66px;
    max-width: 920px;
    width: 100%;
    padding: 0 19px;
}

@media screen and (max-width:575px){
    .elements{
       margin: 36px 0 48px;
    }

}