.profile__info{
    max-width: 336px;
    max-height: 77px;
    display: grid;
    grid-template-columns: 1fr 20px;
}

@media screen and (max-width:575px){
    .profile__info{
        grid-template-columns: 200px 20px;
    }
}