.element__button-like{
    background: url(../../../images/elements/like.svg);
    height: 18px;
    width: 21px;
    border: 0;
}

.element__button-like:hover{
    cursor: pointer;
    opacity: .7;
}